body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.weather {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  color: #191a49;
  background: rgba(255, 255, 255, 0.7);
}
h1 {
  font-size: 28px;
}
p {
  font-size: 16px;
  margin-top: 60px;
  color: #605d5d;
}
h2 {
  margin-top: 30px;
}
.tempNumber {
  font-size: 72px;
  font-weight: 600;
}
.tempUnit {
  font-size: 16px;
  position: relative;
  top: -45px;
}
form {
  position: relative;
  left: -30px;
  bottom: 5px;
}

h4 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 20px;
  margin: 30px 0;
}
h5 {
  margin-top: 15px;
  font-size: 18px;
  position: relative;
  left: 25px;
}
.tempForecast {
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
  line-height: 30px;
}
.btn {
  background: #fed058;
  color: #191a49;
  border: none;
  width: 130%;
  position: relative;
  left: 90px;
}
.form-control {
  position: relative;
  left: 100px;
  width: 260px;
}
.forecast {
  border: 2px #fed058 solid;
  border-radius: 10px;
  padding: 30px 10px;
  background: rgba(254, 208, 88, 0.5);
}
h6 {
  text-align: center;
  margin: 20px;
  font-weight: bold;
}
